.footer {
    margin-top: 92px;
    padding: 60px 0;
    height: fit-content;
    box-sizing: border-box;
    background: #FFFBED;

    &__wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 117px;
    }

    &__title {
        font-weight: 500;
        font-size: 22px;
        line-height: 25px;
        color: #000000;

        &_address {
            margin-bottom: 19px;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #747474;
    }

    &__logo {
        font-weight: 500;
        font-size: 22px;
        line-height: 25px;
        margin-bottom: 20px;
    }

    &__uri {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #747474;
    }

    &__link {
        margin-top: 19px;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        text-decoration-line: underline;
        color: #747474;
    }

    &__phone {
        margin-top: 10px;
        font-weight: 700;
        font-size: 27px;
        line-height: 148.9%;
        color: #747474;
    }

    &__msg {
        margin-top: 14px;

        .msg-icons {
            display: flex;
            gap: 22px;

            .msg-link {
                background: rgba(207, 207, 207, 0.24);
            }
        }
    }

    &__btn {
        margin-top: 31px;
        @include offerBtn;
        width: 186px;
        height: 46px;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
        cursor: pointer;
    }
}

.author {
    width: 100%;
    text-align: center;
    margin-top: 80px;
    font-weight: 400;
    font-size: 13px;
    line-height: 148.9%;
    text-align: center;
    color: #747474;
}

@media (max-width: 980px) {
    .footer {
        &__wrap {
            gap: 32px;
        }
        &__logo {
            white-space: nowrap;
        }
    }
}

@media (max-width: 690px) {
    .footer {
        &__wrap {
            display: flex;
            flex-flow: column;
            align-items: center;
            text-align: center;
        }
        &__msg {
            .msg-icons {
                justify-content: center;
            }
        }
    }
}