.fz-16 {
    font-size: 16px;
}

.fz-18 {
    font-size: 18px;
}

.fw-400 {
    font-weight: 400;
}

.fw-700 {
    font-weight: 700;
}

.d-block {
    display: block;
}
.more {
    width: 100%;
    text-align: right;
    margin: 15px 0;
    font-size: 12px;
    color: #5A5A5A;
    display: none;
}

.msg-link {
    width: 39px;
    height: 39px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.msg-icon {
    width: 23px;
    height: 23px;
}

.telegram-icon {
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5 23C17.8513 23 23 17.8513 23 11.5C23 5.14873 17.8513 0 11.5 0C5.14873 0 0 5.14873 0 11.5C0 17.8513 5.14873 23 11.5 23Z' fill='url(%23paint0_linear_50_161)'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.2056 11.3786C8.55808 9.91798 10.7936 8.95504 11.9121 8.4898C15.1058 7.16145 15.7694 6.9307 16.202 6.92308C16.2971 6.9214 16.5098 6.94498 16.6476 7.05678C16.7639 7.15118 16.7959 7.27871 16.8113 7.36821C16.8266 7.45772 16.8457 7.66161 16.8305 7.82093C16.6574 9.63935 15.9086 14.0522 15.5276 16.0888C15.3664 16.9506 15.049 17.2396 14.7417 17.2679C14.0739 17.3293 13.5667 16.8265 12.9199 16.4025C11.9078 15.739 11.336 15.326 10.3535 14.6786C9.21809 13.9304 9.95413 13.5191 10.6012 12.8471C10.7705 12.6712 13.713 9.99479 13.7699 9.752C13.7771 9.72164 13.7837 9.60845 13.7164 9.54868C13.6492 9.48892 13.5499 9.50935 13.4783 9.52561C13.3768 9.54865 11.7599 10.6174 8.62756 12.7318C8.16861 13.0469 7.7529 13.2005 7.38044 13.1924C6.96983 13.1836 6.17998 12.9603 5.59281 12.7694C4.87262 12.5353 4.30023 12.4115 4.35007 12.014C4.37603 11.8069 4.66121 11.5951 5.2056 11.3786Z' fill='white'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_50_161' x1='11.5' y1='0' x2='11.5' y2='22.8294' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232AABEE'/%3E%3Cstop offset='1' stop-color='%23229ED9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
}

.whatsapp-icon {
    width: 25px;
    height: 25px;
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.92395 22.88L2.47298 17.2352C1.51601 15.5792 1.01334 13.7008 1.01565 11.7891C1.01818 5.78259 5.91559 0.896034 11.9338 0.896034C14.8542 0.897515 17.5954 2.03185 19.6569 4.09094C21.7185 6.15003 22.8528 8.887 22.8517 11.7978C22.8491 17.8039 17.9509 22.6914 11.9336 22.6914H11.9289C10.1018 22.6906 8.30642 22.2331 6.71169 21.3652L0.92395 22.88Z' fill='white'/%3E%3Cpath d='M11.9371 2.73623C6.93153 2.73623 2.8608 6.79769 2.85902 11.7898C2.85655 13.4945 3.33751 15.1651 4.2463 16.6084L4.46221 16.951L3.54531 20.2919L6.97991 19.3931L7.31156 19.5892C8.70448 20.4143 10.3016 20.8506 11.9303 20.8515H11.9337C16.9354 20.8515 21.0062 16.7895 21.0081 11.7971C21.0119 10.6072 20.7791 9.42831 20.3233 8.32877C19.8675 7.22923 19.1977 6.23086 18.3527 5.39144C17.5124 4.54744 16.5126 3.87818 15.4114 3.42241C14.3102 2.96664 13.1293 2.73342 11.9371 2.73623Z' fill='url(%23paint0_linear_84_2)'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.20495 7.23504C9.00047 6.78169 8.7853 6.77251 8.59106 6.76466L8.06814 6.75829C7.88622 6.75829 7.59063 6.82642 7.34074 7.09893C7.09086 7.37144 6.38586 8.03006 6.38586 9.36967C6.38586 10.7093 7.36345 12.0037 7.49967 12.1856C7.63589 12.3674 9.38687 15.2041 12.1598 16.2955C14.4641 17.2025 14.933 17.0221 15.4334 16.9767C15.9338 16.9314 17.0474 16.3181 17.2746 15.6823C17.5018 15.0465 17.5019 14.5018 17.4338 14.3879C17.3657 14.274 17.1838 14.2063 16.9108 14.07C16.6377 13.9338 15.2967 13.2752 15.0467 13.1842C14.7967 13.0933 14.6149 13.0481 14.4328 13.3206C14.2507 13.5932 13.7286 14.2062 13.5693 14.3879C13.4101 14.5696 13.2512 14.5924 12.9782 14.4563C12.7051 14.3202 11.8267 14.0326 10.7844 13.105C9.97345 12.3833 9.42605 11.492 9.26668 11.2196C9.10731 10.9473 9.24976 10.7998 9.38657 10.6641C9.50899 10.5421 9.65931 10.3461 9.79598 10.1872C9.93264 10.0283 9.9776 9.91469 10.0684 9.73326C10.1592 9.55183 10.114 9.39247 10.0457 9.25637C9.97746 9.12026 9.44741 7.7737 9.20495 7.23519' fill='white'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_84_2' x1='11.7488' y1='3.82332' x2='11.8405' y2='19.3039' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2357D163'/%3E%3Cstop offset='1' stop-color='%2323B33A'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
}

.section-title-wrap {
    margin-top: 82px;
    margin-bottom: 73px;
    width: 100%;

    .section-title {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 7px;
        font-style: normal;
        font-weight: 300;
        font-size: 35px;
        line-height: 40px;
        text-align: center;
        color: #000000;

        span {
            font-weight: 700;
        }
    }

    .section-subtitle {
        width: 80%;
        margin: 0 auto;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #5A5A5A;
    }
}


@media (max-width: 555px) {
    .section-title-wrap {
        margin-top: 82px;
        margin-bottom: 73px;
        width: 100%;

        .section-title {
            font-size: 28px;
            line-height: 32px;
        }

        .section-subtitle {
            font-size: 14px;
            line-height: 16px;
        }
    }
}